* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $veryPaleBlue;
    background-image: url('../images/bg-pattern.svg'), url('../images/bg-pattern.svg');
    background-repeat: no-repeat, no-repeat;
    
}

.main-container {
    color: $grayishBlue;
    font-size: $font-main;
    
    
    .header {
        text-align: center;
        // margin-top: 50px;
        background-image: url('../images/pattern-circles.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .content {
        background-color: $white;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border-radius: 15px;
        box-shadow: 9px 8px 5px 0px rgba(207,204,204,0.75);
        -webkit-box-shadow: 9px 8px 5px 0px rgba(207,204,204,0.75);
        -moz-box-shadow: 9px 8px 5px 0px rgba(207,204,204,0.75);
        
        .over-slider {
            display: flex;
            letter-spacing: 3px;

            .pageviews {
                flex: 50%;
                text-transform: uppercase;
            }
    
            .price {
                flex: 50%;
            }
        }

        .div-slider {
            width: 100%;

            .slider {
                width: 100%;
                height: 15px;
                outline: none;
                border-radius: 15px;
                border: 1px solid black;
                background: $lightGrayishBlue;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: $sliderCircle;
                height: $sliderCircle;
                border: 0;
                border-radius: 50%;
                background-image: url('../images/icon-slider.svg');
                background-color: $strongCyan;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
-webkit-box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
// -moz-box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
                cursor: pointer;
              }
              
              .slider::-moz-range-thumb {
                width: $sliderCircle;
                height: $sliderCircle;
                border: 0;
                border-radius: 50%;
                background-color: $strongCyan;
                background-image: url('../images/icon-slider.svg');
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
// -webkit-box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
-moz-box-shadow: 0px 15px 5px 0px rgba(143,237,206,0.75);
                cursor: pointer;
              }
        }

        .below-slider {
            text-align: center;
            border-bottom: 2px solid $veryPaleBlue;

            .switch {
                position: relative;
                display: inline-block;
                padding: 0;
                width: 50px;
                height: 24px;

                span {
                    margin: 0;
                }
              }
              
              .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
              }

            //   .switch:before {
            //     position: absolute;
            //     content: "";
            //     height: 14px;
            //     width: 14px;
            //     left: 4px;
            //     bottom: 4px;
            //     background-color: white;
            //     -webkit-transition: .4s;
            //     transition: .4s;
            //   }

            //   input:checked + .switch {
            //     background-color: #2196F3;
            //   }w

              .switch-slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .switch-slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .switch-slider {
                background-color: $strongCyan;
              }
              
              input:focus + .switch-slider {
                box-shadow: 0 0 1px $strongCyan;
              }
              
              input:checked + .switch-slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              
              /* Rounded sliders */
              .switch-slider.round {
                border-radius: 34px;
              }
              
              .switch-slider.round:before {
                border-radius: 50%;
              }
        }

        .content-bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;

            .left-list {
                color: $darkDesaturatedBlue;
                height: 65px;
                
                ul {
                    list-style-type: none;
                }
            }

            .right-button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 65px;

                .button-start {
                    background-color: $darkDesaturatedBlue;
                    color: $paleBlue;
                    padding: 12px 40px;
                    border-radius: 30px;
                    outline: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

}